*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul, ol, li{
    list-style: none;
}
.btnmenu:hover{
    cursor: pointer;
}
.btn-menu{
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding: 20px 15px;
    background-position: 15px center;
}
.btn-menu-open{
    background-image: url('imgs/menu.png');
}
.btn-menu-close{
    background-color: #747c81;
    background-image: url('imgs/close.png');
}