*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul, ol, li{
    list-style: none;
}
body{
    background-color: rgb(168, 168, 168);
}


.btn-menu:hover{
    cursor: pointer;
}
.btn-menu{
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 70px;
    padding: 18px;
    margin: 15px 0px;
    background-position: 15px center;
}
.btn-menu-open{
    background-image: url('imgs/menu-abrir.svg');
}
.btn-menu-close{
    background-color: #ffffff;
    background-image: url('imgs/menu-fechar.svg');
}
.menu-item{
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(116, 124, 129, 0.7);
    
}
.menu-item-action{
    text-decoration: none;
    color: #747c81;
    text-transform: uppercase;
    font-size: 12px;
}
.menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: white;
    left: 0;
    transform: translateX(-100%);
    transition: all .15s linear;
}
.menu_open{
    transform: translateX(0);
}


